body {
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container {
    margin: auto;
    padding: 12px 16px;
    max-width: 8.5in;
    position: relative;
}

@media print {
    @page {
        size: letter;
    }
    .title {
        font-size: 22px;
    }
    .section-header {
        font-size: 16px;
    }
    .mini-header {
        font-size: 14px;
    }
    p,
    li {
        font-size: 12px;
    }
    body {
        margin: 0;
    }
    .container {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media screen {
    .title {
        font-size: 28px;
    }
    .section-header {
        font-size: 20px;
    }
    .mini-header {
        font-size: 16px;
    }
    p,
    li {
        font-size: 16px;
    }
    hr {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.unstyled-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
}

.section-header {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mini-header {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

li:not(:last-child) {
    margin-bottom: 4px;
}
